html,
body {
	font-family: sans-serif;
	font-size: 16px;
	background-color: #f4f4f4;
	color: #0c100a;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 60px;
	font-family: 'Bitter', serif;
}

h2 {
	font-size: 50px;
	font-family: 'Bitter', serif;
	font-weight: 400;
}

h5 {
	font-family: 'Bitter', serif;
}

.menu {
	display: flex;
	background-color: #0c100a;
	height: 150px;
	width: 450px;
	.hamburger {
		width: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		> div {
			border-bottom: 2px solid white;
			margin-bottom: 5px;
			&:first-child,
			&:last-child {
				width: 25px;
			}
			&:last-child {
				margin-left: auto;
			}
		}
	}
	.right {
		display: flex;
		width: 66%;
		margin-left: auto;
		justify-content: center;
		align-items: center;
		color: white;
		flex-direction: column;
		h5 {
			margin: 0;
		}
	}
	img {
		width: 80px;
		margin-bottom: 10px;
	}
}

.hero {
	height: 100vh;
	width: 100vw;

	.home & {
		background-size: cover;
		background-image: url('/images/tunnelFreeHaircutsDark.jpg');
		background-color: gray;
	}

	.page & {
		background-image: url('/images/HumbleHairdressersLogoWhite.png');
		background-repeat: no-repeat;
		background-position: -25vw 100%;
		background-size: contain;
	}

	.text-content {
		display: flex;
		width: 75vw;
		margin: 20vh auto 0;
		justify-content: space-between;
	}

	h1 {
		align-self: center;

		.home & {
			padding: 0 150px;
			margin-top: 20vh;
			color: white;
		}
	}

	.subtitle {
		font-size: 30px;
		max-width: 45vw;
	}

	.home-ctas {
		display: flex;
		flex-direction: row;
		padding-right: 150px;
		width: 100%;
		justify-content: flex-end;
		box-sizing: border-box;
		margin-top: 15vh;
	}
}

.second-block {
	display: flex;
	flex-direction: column;
	padding: 150px;
	img {
		margin: auto;
	}
	.white-block {
		transform: translateY(-33%);
	}
	margin-bottom: -33%;
}
.large-bg-logo {
	z-index: -1;
	width: 100vw;
}

.banner-text {
	width: 66%;
	margin: 150px auto;
}

.bottom-block {
	display: flex;
	flex-direction: column;
	img {
		width: 66%;
	}
	.donations-block {
		transform: translateY(-33%);
	}
}
